.pagina{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    
    box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 30px 0px;
    padding: 20px;
}

.logo{
    font-style: italic;
    font-weight: 500;
}

.lista{
    list-style: none;
    display: flex;
}

.lista li{
    margin-left: 40px;
}

.login{
    color: white;
    background-color: black;
    padding: 5px 30px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.err_back{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.err{
    max-height: 400px;
    
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.err p{
    margin: auto 210px ;
    text-shadow: 0px 150px 25px rgba(0,0,0,0.6);
}

.video{
    width: 80%;
    mix-blend-mode: darken ;
}