.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 30px 0px;
    padding: 20px;
    border-radius: 0 0 50px 50px;
}

.logo{
    font-style: italic;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 30px;

    cursor: pointer;
}

.lista{
    list-style: none;
    display: flex;
}

.lista li{
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.lista li:hover{
    box-shadow: rgb(148, 158, 167) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.login{
    height: 40px;
    color: white;
    background-color: black;
    padding: 0px 30px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    display: flex;
    align-items: center;
    margin-right: 30px;

    cursor: pointer;
    transition: all .5s ease;
}
.login p{
    margin: 0;
}

.login:hover{
    background-color: white;
    color: black;
}

.err_back{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.err{
    max-height: 400px;
    
    color: #495a5fea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20em;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.err p{
    margin: auto 300px ;
    text-shadow: 0px 150px 25px rgba(0,0,0,0.6);
}

.quatro1{
    opacity: 0;
    padding-right: 80px;
    animation: blur 2s 1s forwards ease-in-out;
}

.quatro2{
    opacity: 0;
    animation: blur 3s 1.5s forwards ease-in-out;
}

.video{
    width: 65%;
    mix-blend-mode: darken ;
}

.aviso{
    text-align: center;
    margin: auto;
    
}

.av1_container{
    font-size: 2em;
    font-weight: 500;
    margin-top: -70px;
    width: 380px;
    height: 43px;
    position: relative;
    overflow: hidden;
}

.av1_container span{
    
    transform: translateY(-45px);
    display: inline-flex;
    animation: move .5s forwards ease-in-out;
}

.av1_container span:nth-child(1){
    animation-delay: 0.1s;
}
.av1_container span:nth-child(2){
    animation-delay: 0.2s;
}
.av1_container span:nth-child(3){
    animation-delay: 0.3s;
}
.av1_container span:nth-child(4){
    animation-delay: 0.4s;
}
.av1_container span:nth-child(5){
    animation-delay: 0.5s;
}
.av1_container span:nth-child(6){
    animation-delay: 0.6s;
}
/* --------------------------------------- */

.av1_container span:nth-child(7){
    padding: 0 6px;
}

.av1_container span:nth-child(8){
    animation-delay: 0.7s;
}
.av1_container span:nth-child(9){
    animation-delay: 0.8s;
}
.av1_container span:nth-child(10){
    animation-delay: 0.9s;
}
/* --------------------------------- */

.av1_container span:nth-child(11){
    padding: 0 6px;
}

.av1_container span:nth-child(12){
    animation-delay: 1s;
}
.av1_container span:nth-child(13){
    animation-delay: 1.1s;
}
.av1_container span:nth-child(14){
    animation-delay: 1.2s;
}
.av1_container span:nth-child(15){
    animation-delay: 1.3s;
}
.av1_container span:nth-child(16){
    animation-delay: 1.4s;
}
.av1_container span:nth-child(17){
    animation-delay: 1.5s;
}
.av1_container span:nth-child(18){
    animation-delay: 1.6s;
}
.av1_container span:nth-child(19){
    animation-delay: 1.7s;
}
.av1_container span:nth-child(20){
    animation-delay: 1.8s;
}
.av1_container span:nth-child(21){
    animation-delay: 1.9s;
}
.av1_container span:nth-child(22){
    animation-delay: 2s;
}



.av2{
    margin: 0;
    font-weight: 200;
    opacity: 0;

    animation: blur 1s forwards ease-in-out;
    animation-delay: 1s;

}

.btn_aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transform: translateY(50px);
    opacity: 0;
    animation: move 1s forwards ease-out;
    animation-delay: 1s;
    transition: all .3s ease-in-out;
}

.btn_aviso:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
    box-shadow: rgb(145, 145, 145) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.btn_aviso img{
    width: 20px;
    background-color: black;
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
}

@keyframes blur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes move {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
